In [1]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv("C:\\Users\\Victo\\OneDrive\\Рабочий стол\\all_reviews.csv")

In [6]:
data.shape

(337817, 10)

In [7]:
data.head()

,movie_id,movie_title,review_id,review_author,review_title,review_date,review_rating,review_text,review_helpfulness_upvote,review_helpfulness_total
0,tt0050083,12 Angry Men,rw0060044,uds3,"The over-used term ""classic movie"" really com...",2002-08-12,NaN,This once-in-a-generation masterpiece simply h...,321,358
1,tt0050083,12 Angry Men,rw0060025,tedg,No Dissonance\n,2001-04-26,NaN,This film deserves to be on anyone's list of t...,355,411
2,tt0050083,12 Angry Men,rw0060034,tfrizzell,What a Character-Study Is Meant to Be.\n,2002-06-08,NaN,Intense courtroom drama which has 12 very diff...,246,282
3,tt0050083,12 Angry Men,rw3666418,mark.waltz,One of the great theatrical examples of what ...,2017-03-20,10.0,Theater at its best is practically impossible ...,42,46
4,tt0050083,12 Angry Men,rw5448378,henriquelrf,Dont judge by the age!\n,2020-01-31,10.0,For a while I was not very receptive to watchi...,206,214

In [9]:
data = data[["movie_title", "review_title", "review_rating", "review_text"]]
data.head()

,movie_title,review_title,review_rating,review_text
0,12 Angry Men,"The over-used term ""classic movie"" really com...",NaN,This once-in-a-generation masterpiece simply h...
1,12 Angry Men,No Dissonance\n,NaN,This film deserves to be on anyone's list of t...
2,12 Angry Men,What a Character-Study Is Meant to Be.\n,NaN,Intense courtroom drama which has 12 very diff...
3,12 Angry Men,One of the great theatrical examples of what ...,10.0,Theater at its best is practically impossible ...
4,12 Angry Men,Dont judge by the age!\n,10.0,For a while I was not very receptive to watchi...

In [60]:
unique = data['movie_title'].unique()
len(unique)

250

In [52]:
movies_left = list(data['movie_title'].unique())
result = []

for i in range(len(data)):
    if data['movie_title'][i] in movies_left:
        result.append(data.iloc[i].values)
        movies_left.remove(data['movie_title'][i])
    else:
        continue
print(len(result))

250

In [54]:
columns = data.columns
result_df = pd.DataFrame(result, columns=columns)
print(result_df.shape)
print(result_df.head())

(250, 4)
             movie_title                                       review_title  \
0           12 Angry Men   The over-used term "classic movie" really com...
1       12 Years a Slave       Slavery is an evil that should befall none\n
2                   1917       "He travels the fastest who travels alone"\n
3  2001: A Space Odyssey                         Unmatched accomplishment\n
4               3 Idiots                        Wonderfully entertaining.\n

   review_rating                                        review_text
0            NaN  This once-in-a-generation masterpiece simply h...
1           10.0  12 Years a Slave tells the true story of Solom...
2           10.0  There are some great WW1 films out there, the ...
3           10.0  Sometimes reading the user comments on IMDB fi...
4           10.0  It's hard for me to review this film, as I hav...

In [58]:
result_df["classic_1"] = ""
result_df["inspiring_1"] = ""
result_df["deep_1"] = ""
result_df["revolutionary_1"] = ""
result_df["nostalgic_1"] = ""
result_df["negative_1"] = ""
result_df["note_1"] = ""
result_df["classic_2"] = ""
result_df["inspiring_2"] = ""
result_df["deep_2"] = ""
result_df["revolutionary_2"] = ""
result_df["nostalgic_2"] = ""
result_df["negative_2"] = ""
result_df["note_2"] = ""

(250, 18)