In [21]:
import pandas as pd
import numpy as np
from sklearn.metrics import cohen_kappa_score

In [11]:
data = pd.read_csv("C:\\Users\\Victo\\Downloads\\data_marked_up.csv")
data.head()

,Unnamed: 0,movie_title,review_title,review_rating,review_text,classic_1,inspiring_1,deep_1,revolutionary_1,nostalgic_1,negative_1,note_1,classic_2,inspiring_2,deep_2,revolutionary_2,nostalgic_2,negative_2,note_2
0,0,12 Angry Men,"The over-used term ""classic movie"" really com...",NaN,This once-in-a-generation masterpiece simply h...,1.0,0.0,1,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,12 Years a Slave,Slavery is an evil that should befall none\n,10.0,12 Years a Slave tells the true story of Solom...,0.0,1.0,1,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1917,"""He travels the fastest who travels alone""\n",10.0,"There are some great WW1 films out there, the ...",0.0,1.0,1,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2001: A Space Odyssey,Unmatched accomplishment\n,10.0,Sometimes reading the user comments on IMDB fi...,1.0,0.0,1,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,3 Idiots,Wonderfully entertaining.\n,10.0,"It's hard for me to review this film, as I hav...",0.0,0.0,1,0.0,0.0,0.0,"(despite not revolutionary overall, this movie...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
data = data.dropna(subset=['classic_1', 'inspiring_1', 'deep_1', 'revolutionary_1', 'nostalgic_1', 'negative_1', 'classic_2', 'inspiring_2', 'deep_2', 'revolutionary_2', 'nostalgic_2', 'negative_2'])
data.head()

,Unnamed: 0,movie_title,review_title,review_rating,review_text,classic_1,inspiring_1,deep_1,revolutionary_1,nostalgic_1,negative_1,note_1,classic_2,inspiring_2,deep_2,revolutionary_2,nostalgic_2,negative_2,note_2
5,5,A Beautiful Mind,"Powerful, quiet, effortless Crowe\n",9.0,A Beautiful Mind\nDirector Ron Howard has expe...,0.0,1.0,1,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,"great actors, skillfully crafted"
6,6,A Clockwork Orange,One of those films you have to watch multiple...,10.0,It's hard to judge a film such as this. Its co...,0.0,0.0,1,1.0,0.0,0.0,NaN,0.0,0.0,1.0,1.0,0.0,0.0,NaN
7,7,A Separation,Mankind Is Flawed\n,10.0,"In Tehran, the teacher Simin (Leila Hatami) ha...",0.0,0.0,0,0.0,0.0,0.0,"Realistic, culturally enriching",0.0,0.0,0.0,0.0,0.0,0.0,Realistic
8,8,Aladdin,I'd put it in with the Disney classics\n,10.0,Aladdin is such an awesome move that still get...,1.0,0.0,0,0.0,1.0,0.0,NaN,1.0,0.0,0.0,0.0,1.0,0.0,NaN
9,9,Aliens,A masterpiece - one of the best epic-action f...,10.0,Aliens (1986) is the best Epic Sci-Fi Classic ...,1.0,0.0,1,0.0,1.0,0.0,NaN,1.0,0.0,0.0,1.0,1.0,0.0,NaN

In [16]:
data[['classic_1', 'inspiring_1', 'deep_1', 'revolutionary_1', 'nostalgic_1', 'negative_1', 'classic_2', 'inspiring_2', 'deep_2', 'revolutionary_2', 'nostalgic_2', 'negative_2']] = data[['classic_1', 'inspiring_1', 'deep_1', 'revolutionary_1', 'nostalgic_1', 'negative_1', 'classic_2', 'inspiring_2', 'deep_2', 'revolutionary_2', 'nostalgic_2', 'negative_2']].applymap(lambda x: x if str(x).replace('.', '').replace('-', '').isdigit() else None)
data = data.dropna(subset=['classic_1', 'inspiring_1', 'deep_1', 'revolutionary_1', 'nostalgic_1', 'negative_1', 'classic_2', 'inspiring_2', 'deep_2', 'revolutionary_2', 'nostalgic_2', 'negative_2'], how='any')

In [17]:
data['classic_1'] = data['classic_1'].astype(int)
data['inspiring_1'] = data['inspiring_1'].astype(int)
data['deep_1'] = data['deep_1'].astype(int)
data['revolutionary_1'] = data['revolutionary_1'].astype(int)
data['nostalgic_1'] = data['nostalgic_1'].astype(int)
data['negative_1'] = data['negative_1'].astype(int)
data['classic_2'] = data['classic_2'].astype(int)
data['inspiring_2'] = data['inspiring_2'].astype(int)
data['deep_2'] = data['deep_2'].astype(int)
data['revolutionary_2'] = data['revolutionary_2'].astype(int)
data['nostalgic_2'] = data['nostalgic_2'].astype(int)
data['negative_2'] = data['negative_2'].astype(int)
data.head()

C:\Users\Victo\AppData\Local\Temp\ipykernel_4480\1678559233.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['classic_1'] = data['classic_1'].astype(int)
C:\Users\Victo\AppData\Local\Temp\ipykernel_4480\1678559233.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['inspiring_1'] = data['inspiring_1'].astype(int)
C:\Users\Victo\AppData\Local\Temp\ipykernel_4480\1678559233.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['deep_1'] = data['deep_1'].astype(int)
C:\Users\Victo\AppData\Local\Temp\ipykernel_4480\1678559233.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['revolutionary_1'] = data['revolutionary_1'].astype(int)
C:\Users\Victo\AppData\Local\Temp\ipykernel_4480\1678559233.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['nostalgic_1'] = data['nostalgic_1'].astype(int)
C:\Users\Victo\AppData\Local\Temp\ipykernel_4480\1678559233.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['negative_1'] = data['negative_1'].astype(int)
C:\Users\Victo\AppData\Local\Temp\ipykernel_4480\1678559233.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['classic_2'] = data['classic_2'].astype(int)
C:\Users\Victo\AppData\Local\Temp\ipykernel_4480\1678559233.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['inspiring_2'] = data['inspiring_2'].astype(int)
C:\Users\Victo\AppData\Local\Temp\ipykernel_4480\1678559233.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['deep_2'] = data['deep_2'].astype(int)
C:\Users\Victo\AppData\Local\Temp\ipykernel_4480\1678559233.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['revolutionary_2'] = data['revolutionary_2'].astype(int)
C:\Users\Victo\AppData\Local\Temp\ipykernel_4480\1678559233.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['nostalgic_2'] = data['nostalgic_2'].astype(int)
C:\Users\Victo\AppData\Local\Temp\ipykernel_4480\1678559233.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['negative_2'] = data['negative_2'].astype(int)

,Unnamed: 0,movie_title,review_title,review_rating,review_text,classic_1,inspiring_1,deep_1,revolutionary_1,nostalgic_1,negative_1,note_1,classic_2,inspiring_2,deep_2,revolutionary_2,nostalgic_2,negative_2,note_2
5,5,A Beautiful Mind,"Powerful, quiet, effortless Crowe\n",9.0,A Beautiful Mind\nDirector Ron Howard has expe...,0,1,1,0,0,0,NaN,0,0,0,0,0,0,"great actors, skillfully crafted"
6,6,A Clockwork Orange,One of those films you have to watch multiple...,10.0,It's hard to judge a film such as this. Its co...,0,0,1,1,0,0,NaN,0,0,1,1,0,0,NaN
7,7,A Separation,Mankind Is Flawed\n,10.0,"In Tehran, the teacher Simin (Leila Hatami) ha...",0,0,0,0,0,0,"Realistic, culturally enriching",0,0,0,0,0,0,Realistic
8,8,Aladdin,I'd put it in with the Disney classics\n,10.0,Aladdin is such an awesome move that still get...,1,0,0,0,1,0,NaN,1,0,0,0,1,0,NaN
9,9,Aliens,A masterpiece - one of the best epic-action f...,10.0,Aliens (1986) is the best Epic Sci-Fi Classic ...,1,0,1,0,1,0,NaN,1,0,0,1,1,0,NaN

In [24]:
labels1 = np.array([[data['classic_1'].values], [data['inspiring_1'].values], [data['deep_1'].values], [data['revolutionary_1'].values], [data['nostalgic_1'].values], [data['negative_1'].values]])  
labels2 = np.array([[data['classic_2'].values], [data['inspiring_2'].values], [data['deep_2'].values], [data['revolutionary_2'].values], [data['nostalgic_2'].values], [data['negative_2'].values]])  

flat_labels1 = labels1.flatten()
flat_labels2 = labels2.flatten()
                   
kappa_value = cohen_kappa_score(flat_labels1, flat_labels2)


print("Cohen's Kappa:", kappa_value)

Cohen's Kappa: 0.8951310861423221